@font-face {
  font-family: SF-Pro;
  src: url(../public/SF-Pro-Text-Regular.otf);
}

:root {
  --border-color: hsla(0, 0%, 100%, 0.335);
  --item-highlight-bg: rgb(26, 101, 188);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: SF-Pro, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
